.authentication-content
{
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 60rem;
}

.card-container
{
    text-align: left;
}